<div class="header-wrapper">
  <div class="header">
    <div class="text">
      <span>Ola</span>
      <img [src]="wavingHand" alt="wavingHand">
      <span>, sou o</span>
    </div>
    <h1>Cosmo</h1>
    <span>Desenvolvedor fullstack júnior, apaixonado por criar e aprender com cada linha de código.</span>
    <div class="socials">
      <a href="https://github.com/Cosm0666">
        <img [src]="github" alt="github">
      </a>
      <a href="https://www.linkedin.com/in/cosmo-leonardo-8805502b2/">
        <img [src]="linkedin" alt="linkedin">
      </a>
    </div>
  </div>
</div>

