<app-header></app-header>
<app-skills-card></app-skills-card>
<div class="proj-title">
  <h2>Projetos</h2>
</div>
<app-projects-card
  title="Linkedin clone"
  description="Plataforma de rede social inspirada no LinkedIn, oferecendo autenticação segura, gerenciamento de perfis personalizados e armazenamento de imagens. A aplicação inclui funcionalidades de interação social como criação de posts, curtidas e comentários."
  imageUrl="proj-demo.png"
  [tech]="['React', 'MongoDB', 'Node.js', 'ExpressJs', 'Tailwindcss']"
  linkUrl1="https://linkedin-clone-1-4e5x.onrender.com"
  linkUrl2="https://github.com/Cosm0666/linkedin-clone"
></app-projects-card>
<app-projects-card
  height="300px"
  title="Site pessoal"
  description="Página de apresentação profissional com projetos e stack utilizada."
  imageUrl="portifolio.png"
  [tech]="['Angular', 'Typescript', 'Scss']"
  linkUrl2="https://github.com/Cosm0666/angular-portfolio"
></app-projects-card>


