<div class="skills-wrapper">
  <div class="skills-card">
    <h1>Skills</h1>
    <div class="skills-icons">
      <img [src]="html" alt="html">
      <img [src]="css" alt="css">
      <img [src]="javascript" alt="javascript">
      <img [src]="typescript" alt="typescript">
      <img [src]="react" alt="react">
      <img [src]="angular" alt="angular">
      <img [src]="vite" alt="vite">
      <img [src]="node" alt="node">
      <img [src]="mongo" alt="mongo">
      <img style="height: 50px; width: 50px;" [src]="mysql" alt="mysql">
      <img [src]="bootstrap" alt="bootstrap">
      <img [src]="tailwind" alt="tailwind">
      <img [src]="git" alt="git">
    </div>
  </div>
</div>

