
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "merriweather";
}

body {
  background-color: #2B2B2B;
}